:root {
  --clr-neutral-100: hsl(210, 40%, 98%);
  --clr-neutral-200: hsl(210, 40%, 96%);
  --clr-neutral-300: hsl(210, 20%, 85%);
  --clr-neutral-400: hsl(210, 15%, 60%);
  --clr-neutral-800: hsl(215, 25%, 27%);
  --clr-neutral-900: hsl(215, 30%, 15%);

  --clr-primary-100: hsl(235, 90%, 96%);
  --clr-primary-400: hsl(235, 80%, 60%);
  --clr-primary-600: hsl(235, 70%, 45%);

  --clr-secondary-100: hsl(360, 80%, 90%);
  --clr-secondary-400: hsl(360, 80%, 60%);
  --clr-secondary-600: hsl(360, 56.5%, 45%);

  --clr-error: hsl(0, 75%, 55%);

  --clr-body-bg: var(--clr-neutral-200);
  --clr-surface: var(--clr-neutral-100);
  --clr-text-main: var(--clr-neutral-900);
  --clr-text-muted: var(--clr-neutral-400);
  --clr-border: var(--clr-neutral-300);

  --clr-accent-primary: var(--clr-primary-400);
  --clr-accent-primary-hover: var(--clr-primary-600);

  --clr-accent-secondary: var(--clr-secondary-400);
  --clr-accent-secondary-hover: var(--clr-secondary-600);

  --font-base: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;

  --gap-200: 0.5rem;
  --gap-400: 1rem;
  --gap-600: 2rem;

  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);

  --br-200: 0.5rem;
}

::backdrop {
  background-color: var(--clr-neutral-800);
  opacity: 0.3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-body-bg);
  color: var(--clr-text-main);
  line-height: 1.5;
}

input,
button,
textarea,
select {
  display: block;
  font: inherit;
  color: inherit;
}

:focus-visible {
  outline: 2px dashed var(--clr-accent-primary);
  outline-offset: 2px;
}

form {
  input,
  textarea,
  select {
    border: 0.12rem solid var(--clr-border);
    padding: var(--gap-200);
    border-radius: var(--br-200);
    inline-size: 100%;
  }

  label {
    display: block;
    width: 100%;
    margin-block-end: var(--gap-200);
  }

  fieldset {
    border: 0.12rem solid var(--clr-border);
    border-radius: var(--br-200);
    padding: var(--gap-200);
  }
}

/* utilities */
.p-200 {
  padding: clamp(var(--gap-200), 2vw + 0.5rem, var(--gap-600));
}

/* composition */
.flex {
  display: flex;
  gap: var(--gap-400);

  .flex-item {
    width: 100%;
  }

  @media (width <= 500px) {
    flex-direction: column;
  }
}

.btn {
  cursor: pointer;
  border: none;
  color: var(--clr-surface);
  padding: var(--gap-200);
  border-radius: var(--br-200);
  inline-size: 100%;

  &.btn-primary {
    background-color: var(--clr-accent-primary);
    &:hover {
      background-color: var(--clr-accent-primary-hover);
    }
  }

  &.btn-secondary {
    background-color: var(--clr-accent-secondary);
    &:hover {
      background-color: var(--clr-accent-secondary-hover);
    }
  }
}

/* blocks */
.card {
  display: grid;
  align-items: center;
  justify-items: center;
  inline-size: 100vw;
  block-size: 100vh;
}

.contact-form {
  inline-size: min(40ch, 90%);
  background-color: var(--clr-surface);
  border-radius: var(--br-200);
  box-shadow: var(--shadow-card);
  font-size: var(--fs-400);

  > * + *:not(label) {
    margin-block-end: var(--gap-400);
  }
}

/* ADVANCED FORM */

.advanced-form-header {
  display: flex;
  padding: var(--gap-400);
  gap: var(--gap-400);
  box-shadow: var(--shadow-card);

  .heading {
    font-size: var(--fs-600);
    flex-grow: 2;
  }

  .btn-primary {
    inline-size: 10ch;
  }
}

.booking-modal[open] {
  background-color: var(--clr-surface);
  margin: auto;
  border: none;
  border-radius: 0.6rem;
  inline-size: min(50ch, 90%);
  padding: clamp(var(--gap-200), 2vw + 0.5rem, var(--gap-600));

  .modal-heading {
    margin-block-end: var(--gap-200);
  }
}

.advanced-form {
  > * + * {
    margin-block-start: var(--gap-400);
  }

  input[type='range'] {
    padding: 0;
  }

  .nights-markers {
    display: flex;
    justify-content: space-between;

    option {
      &:not(:first-of-type, :last-of-type) {
        padding-inline-start: 0.25rem;
      }

      &:first-of-type {
        padding-inline-start: 0.25rem;
      }
    }
  }
}

.btn-group {
  display: flex;
  gap: var(--gap-200);

  button {
    width: 100%;
  }
}
